html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  padding: 0;
}

body{
  background-color: #FFFFFF;
  display:flex;
  justify-content: space-between;
  width: 90%;
  max-width:960px;
  margin: 0 auto;
}

section{ 
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

h1,h2,p{
  color: #000000;
  display:flex;
  justify-content: center;
}

button{
  justify-content: center;
  height: 40px;
  width: 30%;
  min-width: 150px;
  margin: 20px auto;
}

.restartBtn{
  justify-content: center;
  height: 40px;
  width: 30%;
  min-width: 150px;
  margin: 50px auto;
}

@font-face {
	font-family:'frozen'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}

/* .frozen{
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 17vw;
	margin: 0;
	font-family: 'frozen', serif;
	font-weight: 900;
} */

.frozen{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
  	-webkit-background-clip: text;
	background-size: contain;
	width: 80%;
	text-align: center;
	color: transparent;
  font-weight: 900;
  font-size: 110px;
  margin: 20px auto;
}

.frozen::before {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, rgba(255,255,255,0) 45%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
  -webkit-background-clip: text;
  color: transparent;
  mix-blend-mode: screen;
  animation: shine 1s infinite;
  background-size: 200%;
  text-shadow: 
    2px 2px 10px rgba(#000, 0.2),
    -2px 2px 10px rgba(#000, 0.2),
    -2px -2px 10px rgba(#000, 0.2);
}

.hot{
  margin: 20px auto 30px auto;
  height: 800px;
  width: 300px;
}

.contain{
  background-color: #ffc792;
}

footer {
  display:flex;
  justify-content:center;
  width: 100%;
  padding: 10px auto;
}


.hide {
  display: none;
}

#level1 {
  background-color: #ffc792;
}

#level2 {
  background-color: #ffc792;
}

#level3 {
  background-color: #ffc792;
}


.titlestyle{ 
  font-size: 50px;
  color: #FFFFFF;
  margin:70px auto 40px auto;
} 

.maintitle{
  margin:150px auto 0 auto;
}
.substyle{
  font-size: 50px;
  color: #FFFFFF;
  margin:20px auto 100px auto;
}

.skinback{
  background-color: #ffc792;
}

/* div{
  border:1px solid red;
} */

.termometer{
  width: 320px;
  height: 110px;
  margin: 0 auto;
  display:flex;
}

.temperature{
  width: 250px;
  height: 50px;
  margin: auto;
  justify-self: center;
}

progress{
  width: 250px;
  height: 50px;
  justify-self: center;
  background: #eee;
}

progress::-webkit-progress-value {
  background: #E91D55;
}


progress::-webkit-progress-bar {
  background: #eee;
}

.container{ 
  width: 280px;
  max-width: 960px;
  margin: 0 auto;
  height: 514px;
  background-image: url(../images/vaginafinal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.rowA{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowA1{
  width: 10%;
  background-color: transparent;
}
#rowA2{
  width: 10%;
  background-color: transparent;
}
#rowA3{
  width: 10%;
  background-color: transparent;
}
#rowA4{
  width: 10%;
  background-color: transparent;
}
#rowA5{
  width: 10%;
  background-color: transparent;
}
#rowA6{
  width: 10%;
  background-color: transparent;
}
#rowA7{
  width: 10%;
  background-color: transparent;
}
#rowA8{
  width: 10%;
  background-color: transparent;
}
#rowA9{
  width: 10%;
  background-color: transparent;
}

#rowA10{
  width: 10%;
  background-color: transparent;
}

.rowB{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowB1{
  width: 10%;
  background-color: transparent;
}
#rowB2{
  width: 10%;
  background-color: transparent;
}
#rowB3{
  width: 10%;
  background-color: transparent;
}
#rowB4{
  width: 10%;
  background-color: transparent;
}
#rowB5{
  width: 10%;
  background-color: transparent;
}
#rowB6{
  width: 10%;
  background-color: transparent;
}
#rowB7{
  width: 10%;
  background-color: transparent;
}
#rowB8{
  width: 10%;
  background-color: transparent;
}
#rowB9{
  width: 10%;
  background-color: transparent;
}

#rowB10{
  width: 10%;
  background-color: transparent;
}

.rowC{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowC1{
  width: 10%;
  background-color: transparent;
}
#rowC2{
  width: 10%;
  background-color: transparent;
}
#rowC3{
  width: 10%;
  background-color: transparent;
}
#rowC4{
  width: 10%;
  background-color: transparent;
}
#rowC5{
  width: 10%;
  background-color: transparent;
}
#rowC6{
  width: 10%;
  background-color: transparent;
}
#rowC7{
  width: 10%;
  background-color: transparent;
}
#rowC8{
  width: 10%;
  background-color: transparent;
}
#rowC9{
  width: 10%;
  background-color: transparent;
}

#rowC10{
  width: 10%;
  background-color: transparent;
}

.rowD{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowD1{
  width: 10%;
  background-color: transparent;
}
#rowD2{
  width: 10%;
  background-color: transparent;
}
#rowD3{
  width: 10%;
  background-color: transparent;
}
#rowD4{
  width: 10%;
  background-color: transparent;
}
#rowD5{
  width: 10%;
  background-color: transparent;
}
#rowD6{
  width: 10%;
  background-color: transparent;
}
#rowD7{
  width: 10%;
  background-color: transparent;
}
#rowD8{
  width: 10%;
  background-color: transparent;
}
#rowD9{
  width: 10%;
  background-color: transparent;
}

#rowD10{
  width: 10%;
  background-color: transparent;
}

.rowE{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowE1{
  width: 10%;
  background-color: transparent;
}
#rowE2{
  width: 10%;
  background-color: transparent;
}
#rowE3{
  width: 10%;
  background-color: transparent;
}
#rowE4{
  width: 10%;
  background-color: transparent;
}
#rowE5{
  width: 10%;
  background-color: transparent;
}
#rowE6{
  width: 10%;
  background-color: transparent;
}
#rowE7{
  width: 10%;
  background-color: transparent;
}
#rowE8{
  width: 10%;
  background-color: transparent;
}
#rowE9{
  width: 10%;
  background-color: transparent;
}

#rowE10{
  width: 10%;
  background-color: transparent;
}

.rowF{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowF1{
  width: 10%;
  background-color: transparent;
}
#rowF2{
  width: 10%;
  background-color: transparent;
}
#rowF3{
  width: 10%;
  background-color: transparent;
}
#rowF4{
  width: 10%;
  background-color: transparent;
}
#rowF5{
  width: 10%;
  background-color: transparent;
}
#rowF6{
  width: 10%;
  background-color: transparent;
}
#rowF7{
  width: 10%;
  background-color: transparent;
}
#rowF8{
  width: 10%;
  background-color: transparent;
}
#rowF9{
  width: 10%;
  background-color: transparent;
}

#rowF10{
  width: 10%;
  background-color: transparent;
}

.rowG{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowG1{
  width: 10%;
  background-color: transparent;
}
#rowG2{
  width: 10%;
  background-color: transparent;
}
#rowG3{
  width: 10%;
  background-color: transparent;
}
#rowG4{
  width: 10%;
  background-color: transparent;
}
#rowG5{
  width: 10%;
  background-color: transparent;
}
#rowG6{
  width: 10%;
  background-color: transparent;
}
#rowG7{
  width: 10%;
  background-color: transparent;
}
#rowG8{
  width: 10%;
  background-color: transparent;
}
#rowG9{
  width: 10%;
  background-color: transparent;
}

#rowG10{
  width: 10%;
  background-color: transparent;
}

.rowH{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowH1{
  width: 10%;
  background-color: transparent;
}
#rowH2{
  width: 10%;
  background-color: transparent;
}
#rowH3{
  width: 10%;
  background-color: transparent;
}
#rowH4{
  width: 10%;
  background-color: transparent;
}
#rowH5{
  width: 10%;
  background-color: transparent;
}
#rowH6{
  width: 10%;
  background-color: transparent;
}
#rowH7{
  width: 10%;
  background-color: transparent;
}
#rowH8{
  width: 10%;
  background-color: transparent;
}
#rowH9{
  width: 10%;
  background-color: transparent;
}

#rowH10{
  width: 10%;
  background-color: transparent;
}

.rowI{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowI1{
  width: 10%;
  background-color: transparent;
}
#rowI2{
  width: 10%;
  background-color: transparent;
}
#rowI3{
  width: 10%;
  background-color: transparent;
}
#rowI4{
  width: 10%;
  background-color: transparent;
}
#rowI5{
  width: 10%;
  background-color: transparent;
}
#rowI6{
  width: 10%;
  background-color: transparent;
}
#rowI7{
  width: 10%;
  background-color: transparent;
}
#rowI8{
  width: 10%;
  background-color: transparent;
}
#rowI9{
  width: 10%;
  background-color: transparent;
}

#rowI10{
  width: 10%;
  background-color: transparent;
}

.rowJ{
  width: 100%;
  height: 10%;
  display:flex;
  background-color: transparent;
}

#rowJ1{
  width: 10%;
  background-color: transparent;
}
#rowJ2{
  width: 10%;
  background-color: transparent;
}
#rowJ3{
  width: 10%;
  background-color: transparent;
}
#rowJ4{
  width: 10%;
  background-color: transparent;
}
#rowJ5{
  width: 10%;
  background-color: transparent;
}
#rowJ6{
  width: 10%;
  background-color: transparent;
}
#rowJ7{
  width: 10%;
  background-color: transparent;
}
#rowJ8{
  width: 10%;
  background-color: transparent;
}
#rowJ9{
  width: 10%;
  background-color: transparent;
}

#rowJ10{
  width: 10%;
  background-color: transparent;
}